<head>
</head>
<body>
    <h1>Students</h1>

    <hr>

    <div class="container">
        <h4><strong><em>Edit Student Details</em></strong></h4><br>

        <%= form_for @student do |f|%>
            <%= f.label "Student Name"%><br>
            <%= f.text_field :name%><br><br>

            <hr><br>

            <%=f.submit %><br><br><br>

            <form method="GET" action="/students/<%=@student.id%>">
                <input type="submit" value="Cancel">
            </form><br>

            <hr><br>
            
            <form method="POST" action="/students/<%=@student.id%>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete Student">
            </form><br>
        <%end%>

        <hr><br>
    </div>
</body>