<head>
</head>
<body>
    <h2>Students</h2> 

    <hr>

    <div class="container">
        <h4><strong><em>Student Details</em></strong></h4><br>

        <strong>Name: </strong><%=@student.name%><br><br>

        <strong><%= @student.name %>'s Appointments:</strong><br><br>
        <table style="width:100%">
            <tr>
                <th height="50">Location</th>
                <th height="50">Subject</th>
                <th height="50">Tutor</th>
                <th height="50">Date</th>
                <th height="50">Time</th>
                <th height="50"> </th>
            </tr>
            <% @student.appointments.each do |appointment| %>
                <tr>
                    <td width="16%"><%=appointment.location.name%></td>
                    <td width="16%"><%=appointment.subject.name%></td>
                    <td width="16%"><%=appointment.tutor.name%></td>
                    <td width="16%"><%=appointment.date%></td>
                    <td width="16%"><%=appointment.time.strftime("%H:%M")%></td>
                    <td width="16%", height="30"><%=link_to "View Appt", appointment_path(appointment)%></td>
                </tr>
            <% end %>
        </table><br><br>

        <hr><br>

        <form method="GET" action="/students/<%=@student.id%>/edit">
            <input type="submit" value="Edit Student">
        </form><br>

        <form method="GET" action="../appointments/new">
            <input type="submit" value="Book Appointment">
        </form><br><br>

        <form method="GET" action="/students">
            <input type="submit" value="<-- Back to Students">
        </form>

        <br><hr>
    </div>
</body>