<head>
</head>
<body>
    <div class="container">
        <hr>
        <h4><strong><em>Edit Student Details</em></strong></h4><br>

        <%= form_for @student do |f|%>
            <%= f.label "Student Name"%><br>
            <div class="input-text"><%= f.text_field :name%><br><br></div>

            <hr><br>

            <%=f.submit %><br><br><br>

            <form method="GET" action="/students/<%=@student.id%>">
                <input class="button" type="submit" value="Cancel">
            </form><br>
        <%end%>

        <hr><br>
    </div>
</body>