<h1>Students</h1>
<strong>Students --> Edit Student</strong>
<hr>

<%= form_for @student do |f|%>
    <%= f.label "Student Name"%><br>
    <%= f.text_field :name%><br><br>

    <%=f.submit %><br><br>
    
    <form method="POST" action="/students/<%=@student.id%>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
</form><br><br><br>
<%end%>

<br><hr>