<div class="container">

    <h1>Students</h1>
    <strong>Student --> Add New Student</strong>
    <hr>

    <%= form_for @student do |f|%>
        <%= f.label "Student Name"%><br>
        <%= f.text_field :name%><br><br>

        <%= f.label "Username" %><br>
        <%= f.text_field :username, placeholder: "Username" %><br><br>

        <%= f.label "password" %><br>
        <%= f.password_field :password, placeholder: "Password" %><br><br>

        <%= f.label "Confirm Password" %><br>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br><br>

        <%= f.submit "Create Account" %>
    <%end%>
</div>