<head>
</head>
<body>
    <h2>Students</h2> 

    <hr>

    <div class="container">
        <h4><strong><em>Student Details</em></strong></h4><br>

        <strong>Name: </strong><%=@student.name%><br><br>

        <strong><%= @student.name %>'s Appointments:</strong>
        <ul>
            <% @student.appointments.each do |appointment| %>
                <li><%= link_to appointment, appointment_path(appointment) %></li>
            <% end %>
        </ul><br><br>

        <strong><%= @student.name %>'s Tutors:</strong>
        <ul>
            <% @student.tutors.each do |tutor| %>
                <li><%= link_to tutor.name, tutor_path(tutor) %></li>
            <% end %>
        </ul><br>

        <hr><br>

        <form method="GET" action="/students/<%=@student.id%>/edit">
            <input type="submit" value="Edit Student">
        </form><br>

        <form method="GET" action="../appointments/new">
            <input type="submit" value="Book Appointment">
        </form><br><br>

        <form method="GET" action="/students">
            <input type="submit" value="<-- Back to Students">
        </form>

        <br><hr>
    </div>
</body>