<head>
</head>
<body>
    <div class="container">
        <hr>
        <h3><strong><em>Student Details</em></strong></h3><br>

        <strong>Name: </strong><%=@student.name%><br><br><br>

        <form method="GET" action="/students/<%=@student.id%>/edit">
            <input class="button" type="submit" value="Edit Info">
        </form><br>

        <hr><br>

        <h3><strong><em><%= @student.name %>'s Appointments:</em></strong></h3><br>
        <table style="width:100%">
            <tr>
                <th height="50">Location</th>
                <th height="50">Subject</th>
                <th height="50">Tutor</th>
                <th height="50">Date</th>
                <th height="50">Time</th>
                <th height="50"> </th>
            </tr>
            <% @student.appointments.each do |appointment| %>
                <tr>
                    <td width="16%"><%=link_to appointment.location.name, location_path(appointment.location)%></td>
                    <td width="16%"><%=link_to appointment.subject.name, subject_path(appointment.location)%></td>
                    <td width="16%"><%=link_to appointment.tutor.name, tutor_path(appointment.tutor)%></td>
                    <td width="16%"><%=appointment.date%></td>
                    <td width="16%"><%=appointment.time.strftime("%H:%M")%></td>
                    <td width="16%", height="30"><%=link_to "View Appt", appointment_path(appointment)%></td>
                </tr>
            <% end %>
        </table><br><br>

        <form method="GET" action="../appointments/new">
            <input class="book-button" type="submit" value="+ Book Appointment">
        </form><br>

        <hr>
    </div>
</body>