<h1>Tutors</h1>
<strong>Tutors --> Add New Tutor</strong>

<%= form_for @tutor do |f|%>
    <%= f.label "Tutor Name"%><br>
    <%= f.text_field :name%><br><br>

    <%= f.label "Select a Campus"%><br>
    <%= f.collection_select :location_id, @locations, :id, :name%><br><br>
 
    <%= f.label "Select a Subject"%><br>
    <%= f.collection_check_boxes :subject_ids, @subjects, :id, :name%><br><br>

    <%=f.submit %>
<%end%>

<br><hr>