<head>
</head>
<body>
    <h1>Tutors</h1>

    <hr>

    <div class="container">
        <h4><strong><em>Tutor Details</em></strong></h4><br>

        <strong>Name: </strong><%=@tutor.name%><br><br>

        <strong>Location: </strong><%=link_to @tutor.location.name, location_path(@tutor.location)%><br><br>

        <strong>About: </strong>
        <p><%=@tutor.name%> is a tutor at the <%=@tutor.location.name%> campus.</p><br>

        <strong><%=@tutor.name%>'s Subjects: </strong><br><br>
        <ul>
            <% @tutor.subjects.uniq.each do |subject|%>
                <li><%=link_to subject.name, subject_path(subject)%></li>
            <%end%>
        </ul><br>

        <hr><br>

        <h4><strong><em><%=@tutor.name%>'s Appointments: </em></strong></h4><br>
        <table style="width:100%">
            <tr>
                <th height="50">Location</th>
                <th height="50">Subject</th>
                <th height="50">Student</th>
                <th height="50">Date</th>
                <th height="50">Time</th>
                <th height="50"> </th>
            </tr>
            <% @tutor.appointments.each do |appointment| %>
                <tr>
                    <td width="16%"><%=appointment.location.name%></td>
                    <td width="16%"><%=appointment.subject.name%></td>
                    <td width="16%"><%=appointment.student.name%></td>
                    <td width="16%"><%=appointment.date%></td>
                    <td width="16%"><%=appointment.time.strftime("%H:%M")%></td>
                    <td width="16%", height="30"><%=link_to "View Appt", appointment_path(appointment)%></td>
                </tr>
            <% end %>
        </table><br><br>

        <hr><br>

        <form method="GET" action="../appointments/new">
            <input type="submit" value="+ Book Appointment">
        </form><br><br>

        <form method="GET" action="/tutors">
            <input type="submit" value="<-- View All Tutors">
        </form>

        <br><hr>
    </div>
</body>