<head>
</head>
<body>
    <div class="container">
        <hr>
        <h3><strong><em>Tutor Details</em></strong></h3><br>

        <strong>Name: </strong><%=@tutor.name%><br><br>

        <strong>Location: </strong><%=link_to @tutor.location.name, location_path(@tutor.location)%><br><br>

        <strong>About: </strong>
        <p><%=@tutor.name%> is a tutor at the <%=@tutor.location.name%> campus.</p><br>

        <strong><%=@tutor.name%>'s Subjects: </strong><br><br>
        <ul>
            <% @tutor.subjects.uniq.each do |subject|%>
                <li><%=link_to subject.name, subject_path(subject)%></li>
            <%end%>
        </ul><br><br>

        <form method="GET" action="../appointments/new">
            <input class="btn btn-primary btn-sm" type="submit" value="+ Book Appointment">
        </form><br><br>

        <form method="GET" action="/tutors">
            <input class="btn btn-primary btn-sm" type="submit" value="<-- View All Tutors">
        </form>

        <br><hr>
    </div>
</body>