<head>
</head>
<body>
    <h1>Tutors</h1>

    <hr>

    <div class="container">
        <h4><strong><em>Tutor Details</em></strong></h4><br>

        <strong>Name: </strong><%=@tutor.name%><br><br>

        <strong>Location: </strong><%=@tutor.location.name%><br><br>

        <strong><%=@tutor.name%>'s Subjects: </strong><br>
        <ul>
            <% @tutor.subjects.uniq.each do |subject|%>
                <li><%=subject.name%></li>
            <%end%>
        </ul><br>

        <strong><%=@tutor.name%>'s Appointments: </strong><br>
        <ul>
            <% @tutor.appointments.each do |appointment|%>
                <li><%=link_to appointment, appointment_path(appointment)%></li>
            <%end%>
        </ul><br>

        <hr><br>

        <form method="GET" action="/tutors/<%=@tutor.id%>/edit">
            <input type="submit" value="Edit Tutor">
        </form><br>

        <form method="GET" action="../appointments/new">
            <input type="submit" value="Book Appointment">
        </form><br><br>

        <form method="GET" action="/tutors">
            <input type="submit" value="<-- Back to Tutors">
        </form>

        <br><hr>
    </div>
</body>