<head>
</head>
<body>
    <div class="container">
        <h3><strong><em>Edit Subject Details</em></strong></h3><br>
        <%= form_for @subject do |f|%>
            <%= f.label "Subject Name"%><br>
            <%= f.text_field :name%><br><br>

            <hr><br>

            <%=f.submit "Update Subject"%><br><br>


        <%end%>

        <form method="GET" action="/subjects/<%=@subject.id%>">
            <input type="submit" value="Cancel">
        </form><br>

        <hr><br>

        <form method="POST" action="/subjects/<%=@subject.id%>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Location">
        </form><br>

        <hr>
    <div>
</body>