<head>
</head>
<body>
    <div class="container">
    <hr>
    <h3><strong><em>Subject Details</em></strong></h3><br>
    <strong>Subject Name: </strong><%=@subject.name.capitalize%><br><br>

    <strong>Tutors Teaching <%=@subject.name.capitalize%>: </strong><br><br>

    <ul>
        <% @subject.tutors.each do |tutor|%>
            <li><%=link_to tutor.name, tutor_path(tutor)%></li>
        <%end%>
    </ul><br>

    <hr><br>

    <%= link_to '+ Book Appointment', "../appointments/new", :class => "btn btn-primary btn-sm" %><br><br>

    <%= link_to '<-- View All Subjects', "/subjects", :class => "btn btn-primary btn-sm" %><br><br>

    <br><hr>
    </div>
</body>