<head>
</head>
<body>
    <h1>Appointments</h1>

    <hr>

    <div class="container">
        <h4><strong><em>Create New Appointment</em></strong></h4><br>

        <%= form_for @appointment do |f|%>
            <%= f.label "Student:" %>
            <%= f.collection_select :student_id, @students, :id, :name%><br><br>
            <%= f.label "Location: " %>
            <%= f.collection_select :location_id, @locations, :id, :name%><br><br>
            <%= f.label "Tutor: " %>
            <%= f.collection_select :tutor_id, @tutors, :id, :name%><br><br>
            <%= f.label "Subject: " %>
            <%= f.collection_select :subject_id, @subjects, :id, :name%><br><br>

            <%= f.label "Date: " %>
            <%= f.date_field :date%><br><br>

            <%= f.label "Time: " %>
            <%= f.time_field :time%><br><br>

            <hr><br>

            <%= f.submit "Book Appointment" %>
        <%end%><br><br>

        <form method="GET" action="/appointments">
            <input type="submit" value="Cancel">
        </form>

        <br><hr>
    </div>
</body>