<head>
</head>
<body>
    <h1>Appointments</h1>

    <hr>

    <div class="container">
        <h4><strong><em>Appointment Details</em></strong></h4><br>
        <strong>Student: </strong><%= @appointment.student.name.capitalize %><br><br>

        <strong>Location: </strong><%= @appointment.location.name.capitalize %><br><br>

        <strong>Tutor: </strong><%= @appointment.tutor.name.capitalize %><br><br>

        <strong>Subject: </strong><%= @appointment.subject.name.capitalize %><br><br>

        <strong>Date: </strong><%=@appointment.date%><br><br>

        <strong>Time: </strong><%=@appointment.time.strftime("%H:%M")%><br><br>

        <hr><br>

        <form method="GET" action="/appointments/<%=@appointment.id%>/edit">
            <input type="submit" value="Edit Appointment">
        </form><br><br>

        <form method="GET" action="/appointments">
            <input type="submit" value="<-- Back to Appointments">
        </form>

        <br><hr>
    </div>
</body>