<head>
</head>
<body>
    <div class="container">
        <h3><strong><em>Appointment Details</em></strong></h3><br>
        <strong>Student: </strong><%=@appointment.student.name.capitalize%><br><br>

        <strong>Location: </strong><%= link_to @appointment.location.name.capitalize, location_path(@appointment.location) %><br><br>

        <strong>Tutor: </strong><%= link_to @appointment.tutor.name.capitalize, tutor_path(@appointment.tutor) %><br><br>

        <strong>Subject: </strong><%= link_to @appointment.subject.name.capitalize, subject_path(@appointment.subject) %><br><br>

        <strong>Date: </strong><%=@appointment.date%><br><br>

        <strong>Time: </strong><%=@appointment.time.strftime("%H:%M")%><br><br>

        <hr><br>

        <form method="GET" action="/appointments/<%=@appointment.id%>/edit">
            <input type="submit" value="Edit Appointment">
        </form><br><br>

        <form method="GET" action="/locations">
            <input type="submit" value="<-- Back to Locations">
        </form>

        <br><hr>
    </div>
</body>