<head>
</head>
<body>
    <div class="container">
        <h3><strong><em>Create New Location</em></strong></h3><br>

        <%= form_for @location do |f|%>
            <%= f.label "Location Name:" %>
            <%= f.text_field :name, size: "30" %><br><br>
            <%= f.label "Address:" %>
            <%= f.text_field :address, size: "36" %><br><br><br>
            <em><strong>Note: </strong> <a href="/../subjects">Subjects</a> & <a href="/../tutors">Tutors</a> cannot be assigned from this<br> 
            page. You can assign a tutor to a location from a<br> 
            tutor's details page, and the tutor's subjects will <br>
            be automatically included in the location details.</em><br><br>
            
            <hr><br>

            <%= f.submit %>
        <%end%><br><br>


        <form method="GET" action="/locations">
            <input type="submit" value="Cancel">
        </form>

        <br><hr>
    </div>
</body>