<head>
</head>
<body>
    <div class="container">
        <hr>
        <h3><strong><em>Location Details</em></strong></h3><br>

        <strong>Name: </strong> <%= @location.name.capitalize %><br><br>

        <strong>Address: </strong><%= @location.address %><br><br>

        <strong>Subjects: </strong>
        <ul>
            <%@location.subjects.uniq.each do |subject|%>
                <li><%= link_to subject.name, subject_path(subject) %></li>
            <%end%>
        </ul><br>

        <strong><%=@location.name%>'s Tutors:</strong>
        <ul>
            <%@location.tutors.each do |tutor|%>
                <li><%= link_to tutor.name, tutor_path(tutor) %></li>
            <%end%>
        </ul><br>

        <%= link_to '+ Book Appointment', "../appointments/new", :class => "btn btn-primary btn-sm" %><br><br>

        <%= link_to '<-- Back', locations_path, :class => "btn btn-primary btn-sm" %><br><br>

        <hr><br>
    </div>
</body>