<head>
</head>
<body>
    <h2>Locations</h2>

    <hr>

    <div class="container">
        <h4><strong><em>Location Details</em></strong></h4><br>

        <strong>Name: </strong> <%= @location.name.capitalize %><br><br>

        <strong>Address: </strong><%= @location.address %><br><br>

        <strong>Subjects: </strong>
        <ul>
            <%@location.subjects.uniq.each do |subject|%>
                <li><%= link_to subject.name, subject_path(subject) %></li>
            <%end%>
        </ul><br>

        <strong><%=@location.name%>'s Tutors:</strong>
        <ul>
            <%@location.tutors.each do |tutor|%>
                <li><%= link_to tutor.name, tutor_path(tutor) %></li>
            <%end%>
        </ul><br>

        <strong><%=@location.name%>'s Appointments:</strong><br>
        <table style="width:100%">
            <tr>
                <th height="50">Student</th>
                <th height="50">Subject</th>
                <th height="50">Tutor</th>
                <th height="50">Date</th>
                <th height="50">Time</th>
                <th height="50"> </th>
            </tr>
            <% @location.appointments.each do |appointment| %>
                <tr>
                    <td width="16%"><%=appointment.student.name%></td>
                    <td width="16%"><%=appointment.subject.name%></td>
                    <td width="16%"><%=appointment.tutor.name%></td>
                    <td width="16%"><%=appointment.date%></td>
                    <td width="16%"><%=appointment.time.strftime("%H:%M")%></td>
                    <td width="16%", height="30"><%=link_to "View Appt", appointment_path(appointment)%></td>
                </tr>
            <% end %>
        </table><br><br>

        <hr><br>

        <form method="GET" action="../appointments/new">
            <input type="submit" value="+ Book Appointment">
        </form><br><br>

        <form method="GET" action="/locations">
            <input type="submit" value="<-- View All Locations">
        </form><br>

        <hr><br><br>
    </div>
</body>