<head>
</head>
<body>
    <div class="container">
        <hr>
        <h3><strong><em>Location Details</em></strong></h3><br>

        <strong>Name: </strong> <%= @location.name.capitalize %><br><br>

        <strong>Address: </strong><%= @location.address %><br><br>

        <strong>Subjects: </strong>
        <ul>
            <%@location.subjects.uniq.each do |subject|%>
                <li><%= link_to subject.name, subject_path(subject) %></li>
            <%end%>
        </ul><br>

        <strong><%=@location.name%>'s Tutors:</strong>
        <ul>
            <%@location.tutors.each do |tutor|%>
                <li><%= link_to tutor.name, tutor_path(tutor) %></li>
            <%end%>
        </ul><br>

        <hr><br>

        <form method="GET" action="../appointments/new">
            <input class="book-button" type="submit" value="+ Book Appointment">
        </form><br><br>

        <form method="GET" action="/locations">
            <input class="button" type="submit" value="<-- View All Locations">
        </form><br>

        <hr><br>
    </div>
</body>