<h1>Locations --> Location Details</h1>
<hr>

<h2>Location: <%= @location.name.capitalize %></h2>

<strong>Address: </strong><%= @location.address %><br><br>

<strong>Subjects: </strong>
<ul>
    <%@location.subjects.uniq.each do |subject|%>
        <li><%= subject.name %></li>
    <%end%>
</ul><br>

<strong>Tutors:</strong>

<ul>
    <%@location.tutors.each do |tutor|%>
        <li><%= link_to tutor.name, tutor_path(tutor) %></li>
    <%end%>
</ul><br>

<form method="GET" action="/locations/<%=@location.id%>/edit">
    <input type="submit" value="Edit Location">
</form><br>

<form method="POST" action="/locations/<%=@location.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form><br><br><br>

<form method="GET" action="/locations">
    <input type="submit" value="<-- Back to Locations">
</form>