<!DOCTYPE html>
<html>
<style>



.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80')
}

.jumbotron h2 {
  font-size: 60px;
  padding-top: 80px;
  padding-bottom: 40px;
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, .5);
}

.jumbotron p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}



</style>

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "About TutorMe.Com" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "About TutorMe.Com" %>">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

  </body>
</html>
